<div class="card">
  <div *ngIf="builderType==0">

  <div class="card-header">
   Set Parent
  </div>

  <div class="card-body">
<!--    <form novalidate-->
<!--          (ngSubmit)="save()">-->

<!--      <div class="form-group row mb-2">-->
<!--        <label class="col-md-2 col-form-label">Parent Plot</label>-->
<!--        <div class="col-md-8">-->
<!--         <select [(ngModel)]="parent.id">-->
<!--          <option *ngFor="let plot of plots" [value]="plot.id">-->
<!--      {{plot.name}}-->
<!--    </option>-->
<!--         </select>-->

<!--  </form>-->
</div>
  </div>
</div>
