<button class="btn btn-primary  my-2" (click)="create()">New Story</button>
 <div *ngIf="stories$ | async as stories">

 <ul class="list-group list-group-horizontal my-2">
  <li *ngFor="let story of stories" class="list-group-item nav-link link-primary" (click)="select(story.id)">{{story.title}}</li>

</ul>

  </div>

  <div class="col-md-8">
    <div *ngIf="activeStory$| async as story">

      <div *ngIf="!edit">
        <app-story-summary [story]="story" (editStory)="displayDetail()"></app-story-summary>
      </div>
      <div *ngIf="edit">
        <app-story [story]="story" (editEmitter)="hideDetail()" (storyEmitter)="saveStory($event)"></app-story>

    </div>

  </div>





