<!--&lt;!&ndash;<h4>Thing List</h4>&ndash;&gt;-->
<!--<button class="btn btn-sm btn-outline-primary  my-2" (click)="create()">New</button>-->
<!--<div class="row gx-5">-->
<!--  <div class="col-md-4">-->

<!--    <div *ngIf="things$ | async as things">-->
<!--      <table class="table table-light table-hover table-group-divider align-middle table align-middle table-bordered">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>Name</th>-->
<!--          &lt;!&ndash;    <th>Author</th>&ndash;&gt;-->
<!--          &lt;!&ndash;    <th>Genre</th>&ndash;&gt;-->
<!--          &lt;!&ndash;    <th>Maguffin</th>&ndash;&gt;-->
<!--          &lt;!&ndash;    <th>Summary</th>&ndash;&gt;-->
<!--          &lt;!&ndash;  <th>things</th>&ndash;&gt;-->
<!--          &lt;!&ndash;  <th>Scenes</th>&ndash;&gt;-->
<!--          &lt;!&ndash;  <th>People</th>&ndash;&gt;-->
<!--          &lt;!&ndash;  <th>Events</th>&ndash;&gt;-->
<!--          &lt;!&ndash;  <th>Locations</th>&ndash;&gt;-->
<!--          &lt;!&ndash;  <th>Things</th>&ndash;&gt;-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody class="vertical-align: bottom">-->

<!--        <tr *ngFor="let thing of things">-->
<!--          <td>-->
<!--            <button class="nav-link link-primary" (click)="select(thing.id)">{{thing.name}}</button>-->
<!--          </td>-->
<!--          &lt;!&ndash;    <td>{{thing.author}}  </td>&ndash;&gt;-->
<!--          &lt;!&ndash;    <td>{{thing.genre}}   </td>&ndash;&gt;-->
<!--          &lt;!&ndash;    <td>{{thing.maguffin}}</td>&ndash;&gt;-->
<!--          &lt;!&ndash;    <td>{{thing.summary}} </td>&ndash;&gt;-->
<!--          &lt;!&ndash;    Calculated fields-->
<!--          <td>{{thing.things}}<td>&ndash;&gt;-->
<!--          &lt;!&ndash;    <td>{{thing.Scenes}}<td>&ndash;&gt;-->
<!--          &lt;!&ndash;    <td>{{thing.People}}<td>&ndash;&gt;-->
<!--          &lt;!&ndash;    <td>{{thing.Events}}<td>&ndash;&gt;-->
<!--          &lt;!&ndash;    <td>{{thing.Locations}}<td>&ndash;&gt;-->
<!--          &lt;!&ndash;    <td>{{thing.Things}}<td>&ndash;&gt;-->
<!--        </tr>-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->


<!--  &lt;!&ndash;<div class="col-md-8">&ndash;&gt;-->
<!--  &lt;!&ndash;  <div *ngIf="thingSelected">&ndash;&gt;-->
<!--  &lt;!&ndash;    <app-thing [thing]="selected"&ndash;&gt;-->
<!--  &lt;!&ndash;    (thingEmitter)="saveThing($event)"></app-thing>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->
<!--  &lt;!&ndash;</div>&ndash;&gt;-->


<!--</div>-->



<button class="link-primary rounded my-2" (click)="create()" data-bs-toggle="tooltip" data-bs-placement="top" title="Create New Thing">Things</button>

<div *ngIf="things$ | async as things">
 <div class="list-group" *ngFor="let thing of things">
   <a class="list-group-item list-group-item-action my-1" (click)="select(thing.id)">{{thing.name}}</a>
 </div>

  </div>
