
<h4>Scene</h4>
<!--<button class="btn btn-primary  my-2" (click)="create()">New scene</button>-->
<!--<div class="row gx-5">-->
<!--<div class="col-md-4">-->

<!--  <div *ngIf="scenes$ | async as scenes">-->
<!--<table class="table table-dark table-hover table-group-divider align-middle table align-middle table-bordered">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Name</th>-->
<!--&lt;!&ndash;    <th>Author</th>&ndash;&gt;-->
<!--&lt;!&ndash;    <th>Genre</th>&ndash;&gt;-->
<!--&lt;!&ndash;    <th>Maguffin</th>&ndash;&gt;-->
<!--&lt;!&ndash;    <th>Summary</th>&ndash;&gt;-->
<!--    &lt;!&ndash;  <th>scenes</th>&ndash;&gt;-->
<!--    &lt;!&ndash;  <th>Scenes</th>&ndash;&gt;-->
<!--    &lt;!&ndash;  <th>People</th>&ndash;&gt;-->
<!--    &lt;!&ndash;  <th>Events</th>&ndash;&gt;-->
<!--    &lt;!&ndash;  <th>Locations</th>&ndash;&gt;-->
<!--    &lt;!&ndash;  <th>Things</th>&ndash;&gt;-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody class="vertical-align: bottom">-->

<!--  <tr *ngFor="let scene of scenes">-->
<!--    <td><button class="nav-link link-primary" (click)="select(scene.id)">{{scene.name}}</button></td>-->
<!--&lt;!&ndash;    <td>{{scene.author}}  </td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{scene.genre}}   </td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{scene.maguffin}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{scene.summary}} </td>&ndash;&gt;-->
<!--      &lt;!&ndash;    Calculated fields-->
<!--      <td>{{scene.scenes}}<td>&ndash;&gt;-->
<!--      &lt;!&ndash;    <td>{{scene.Scenes}}<td>&ndash;&gt;-->
<!--      &lt;!&ndash;    <td>{{scene.People}}<td>&ndash;&gt;-->
<!--      &lt;!&ndash;    <td>{{scene.Events}}<td>&ndash;&gt;-->
<!--      &lt;!&ndash;    <td>{{scene.Locations}}<td>&ndash;&gt;-->
<!--      &lt;!&ndash;    <td>{{scene.Things}}<td>&ndash;&gt;-->
<!--  </tr>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--  </tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->


<!--<div class="col-md-8">-->
<!--  <div *ngIf="sceneSelected">-->
<!--    <app-scene [scene]="selected"-->
<!--    (sceneEmitter)="saveThing($event)"></app-scene>-->
<!--  </div>-->
<!--</div>-->


<!--</div>-->

