<div class="row">
<!--  <table class="table table-striped table-responsive">-->
<!--    <thead>-->
<!--    <th>Plots</th>-->
<!--    <th>Scenes</th>-->
<!--    <th>People</th>-->
<!--    <th>Locations</th>-->
<!--    <th>Events</th>-->
<!--    <th>Thing</th>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->

<!--      <td>-->
  <div class="row">

    <div class="col-md-2">
      <!--<h6>Plots</h6>-->
      <app-plots></app-plots>
    </div>
    <div class="col-md-2">
      <!--<h6>Scenes/Scenesh6-->
      <app-scenes></app-scenes>
    </div>
    <div class="col-md-2">
      <!--<h6>People</h6>-->
      <app-people></app-people>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <!--<h6>Events</h6>-->
      <app-events></app-events>
    </div>


    <div class="col-md-2">
      <!--<h6>Locations</h6>-->
      <app-locations></app-locations>
    </div>
    <div class="col-md-2">
      <!--<h6>Things</h6>-->
      <app-things></app-things>
    </div>
  </div>



<!--      </td>-->
<!--      <td>-->
<!--        <app-scenes></app-scenes>-->
<!--      </td>-->
<!--      <td>-->
<!--        <app-people></app-people>-->
<!--      </td>-->
<!--      <td>-->
<!--        <app-events></app-events>-->
<!--      </td>-->
<!--      <td>-->
<!--        <app-locations></app-locations>-->
<!--      </td>-->
<!--      <td>-->
<!--        <app-things></app-things>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
</div>
