<div class="row">

  <div class="row">

    <div class="col-md-2">

      <app-plots></app-plots>
    </div>
    <div class="col-md-2">

      <app-scenes></app-scenes>
    </div>
    <div class="col-md-2">

      <app-people></app-people>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">

      <app-events></app-events>
    </div>


    <div class="col-md-2">

      <app-locations></app-locations>
    </div>
    <div class="col-md-2">

      <app-things></app-things>
    </div>
  </div>




</div>
