<div class="col-md-3">
<!--<div *ngIf="plot$ |async as scene">-->
<div *ngIf="thing">
<form class="form" #form="ngForm">
        <div class="row g-3">
            <div class="col-sm-4">
            <div class=".form-floating">
                <label for="name">Thing Name</label>
                <input class="form-control"
                       type="text"
                       required
                       id="name"
                       placeholder="name of thing"
                       name="name"
                      #name
                [(ngModel)] ="thing.name"/>
            </div>
        </div>
        </div>
</form>
</div>
</div>
