<div class="row my-2">

<div class="col-md-3">
  <label class="form-control ">Title: {{story.title}}</label>
  <button class="btn btn-sm btn-outline-primary my-2" (click)="edit()">Edit</button>

</div>

<div class="col-md-3">

  <label class="form-control">Author: {{story.author}}</label>
</div>

<div class="col-md-3">
  <label class="form-control">Genre: {{story.genre}}</label>

</div>
</div>
<div class="col-md-6 my-3">

  <label class="form-control">Maguffin:{{story.maguffin}}</label>
</div>
<div class="col-md-6 my-3">

  <label class="form-control">Summary:{{story.summary}}</label>
</div>



