
<!--<h4>Scene List</h4>-->
<button class="btn btn btn-outline-primary  my-2" (click)="create()">New</button>
<div class="row gx-5">
<div class="col-md-4">

  <div *ngIf="scenes$ | async as scenes">
<table class="table table-light table-hover table-group-divider align-middle table align-middle table-bordered">
  <thead>
  <tr>
    <th>Name</th>
<!--    <th>Author</th>-->
<!--    <th>Genre</th>-->
<!--    <th>Maguffin</th>-->
<!--    <th>Summary</th>-->
    <!--  <th>scenes</th>-->
    <!--  <th>Scenes</th>-->
    <!--  <th>People</th>-->
    <!--  <th>Events</th>-->
    <!--  <th>Locations</th>-->
    <!--  <th>Things</th>-->
  </tr>
  </thead>
  <tbody class="vertical-align: bottom">

  <tr *ngFor="let scene of scenes">
    <td><button class="nav-link link-primary" (click)="select(scene.id)">{{scene.name}}</button></td>
<!--    <td>{{scene.author}}  </td>-->
<!--    <td>{{scene.genre}}   </td>-->
<!--    <td>{{scene.maguffin}}</td>-->
<!--    <td>{{scene.summary}} </td>-->
      <!--    Calculated fields
      <td>{{scene.scenes}}<td>-->
      <!--    <td>{{scene.Scenes}}<td>-->
      <!--    <td>{{scene.People}}<td>-->
      <!--    <td>{{scene.Events}}<td>-->
      <!--    <td>{{scene.Locations}}<td>-->
      <!--    <td>{{scene.Things}}<td>-->
  </tr>
<!--</div>-->
  </tbody>
</table>
</div>



<!--<div class="col-md-8">-->
<!--  <div *ngIf="sceneSelected">-->
<!--    <app-scene [scene]="selected"-->
<!--    (sceneEmitter)="saveScene($event)"></app-scene>-->
<!--  </div>-->
<!--</div>-->


</div>

