<!--&lt;!&ndash;<h4>location List</h4>&ndash;&gt;-->
<!--<button class="btn btn-sm btn-outline-primary my-2" (click)="create()">New</button>-->
<!--<div class="row gx-5">-->
<!--<div class="col-md-4">-->

<!--  <div *ngIf="locations$ | async as locations">-->
<!--<table class="table table-light table-hover table-group-divider align-middle table align-middle table-bordered">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>Name</th>-->
<!--&lt;!&ndash;    <th>Author</th>&ndash;&gt;-->
<!--&lt;!&ndash;    <th>Genre</th>&ndash;&gt;-->
<!--&lt;!&ndash;    <th>Maguffin</th>&ndash;&gt;-->
<!--&lt;!&ndash;    <th>Summary</th>&ndash;&gt;-->
<!--    &lt;!&ndash;  <th>locations</th>&ndash;&gt;-->
<!--    &lt;!&ndash;  <th>Scenes</th>&ndash;&gt;-->
<!--    &lt;!&ndash;  <th>locations</th>&ndash;&gt;-->
<!--    &lt;!&ndash;  <th>Events</th>&ndash;&gt;-->
<!--    &lt;!&ndash;  <th>Locations</th>&ndash;&gt;-->
<!--    &lt;!&ndash;  <th>Things</th>&ndash;&gt;-->
<!--  </tr>-->
<!--  </thead>-->

<!--  <tbody class="vertical-align: bottom">-->
<!--  <tr *ngFor="let location of locations">-->
<!--    <td><button class="nav-link link-primary" (click)="select(location.id)">{{location.name}}</button></td>-->
<!--&lt;!&ndash;    <td>{{location.author}}  </td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{location.genre}}   </td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{location.maguffin}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{location.summary}} </td>&ndash;&gt;-->
<!--      &lt;!&ndash;    Calculated fields-->
<!--      <td>{{location.locations}}<td>&ndash;&gt;-->
<!--      &lt;!&ndash;    <td>{{location.Scenes}}<td>&ndash;&gt;-->
<!--      &lt;!&ndash;    <td>{{location.locations}}<td>&ndash;&gt;-->
<!--      &lt;!&ndash;    <td>{{location.Events}}<td>&ndash;&gt;-->
<!--      &lt;!&ndash;    <td>{{location.Locations}}<td>&ndash;&gt;-->
<!--      &lt;!&ndash;    <td>{{location.Things}}<td>&ndash;&gt;-->
<!--  </tr>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--  </tbody>-->
<!--</table>-->
<!--</div>-->



<!--&lt;!&ndash;<div class="col-md-8">&ndash;&gt;-->
<!--&lt;!&ndash;  <div *ngIf="locationSelected">&ndash;&gt;-->
<!--&lt;!&ndash;    <app-location [location]="selected"&ndash;&gt;-->
<!--&lt;!&ndash;    (locationEmitter)="saveLocation($event)"></app-location>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--</div>-->



<button class="link-primary  my-2" (click)="create()">Locations</button>

 <div *ngIf="locations$ | async as locations">
 <div class="list-group" *ngFor="let location of locations">
   <a class="list-group-item list-group-item-action my-1" (click)="select(location.id)">{{location.name}}</a>
 </div>


